/* CSS Document */
.dv2 a:link{color: #9D943A;font-size:25px;} 
.dv2 a:hover{color: #FF3300;font-size:25px;} 
.dv2 .dv2 a:visited{color: #9D943A;font-size:25px;} 
.dv2 a.red:link{color: #ff0000;font-size:25px;} 
.dv2 a.red:hover{color: #ff0000;font-size:25px;} 
.dv2 a.red:visited{color: #ff0000;font-size:25px;} 
#marqueeBox{background:#f7f7f7;padding:1px;text-align:center;margin:0 auto;} 
--> 
